/* Each book is in a section*/
/*Need to create better styles*/
section {
    border:2px solid maroon;
    padding:5px;
    margin-bottom:5px;
    color:maroon;
    }

    h1 {
        font-family:Georgia;
        margin:0;
    }

    h2{
        margin:0
    }

    p {
        font-family:Helvetica;
    }

    .onSale {/*this is a very bright yellow-use sparingly*/
        background-color: yellow;
    }

    #monthlyBestSeller {
   font-size:18px;
   }
